* {
    padding: o;
    margin: 0;
}

#row-1 {
    background-color: #1CD0AC;
    height: 30px;
    width: 100%;
}

.top-section {
    width: 90%;
    margin: 0 auto;
}

.left-links {
    width: 60%;
    float: left;
    height: 100%;
}

.left-links ul {}

.left-links ul li {
    float: left;
    margin-left: 10px;
    list-style: none;
    color: white;
    line-height: 30px;
}

.left-links ul li a {
    color: white;
    text-decoration: none;
}

.social-links {
    width: 30%;
    float: right;
    height: 100%;
    text-align: right;
}

.social-links i {
    color: black;
    line-height: 30px;
    border-right: 2px solid black;
    padding-right: 8px;
}
/* Row-1 CSS end */
/* Row-2 CSS start */
#row-2{
    height: 80px;
    width: 100%;
    background: white;
}
.header-section{
    width: 90%;
    margin: 0 auto;

}
.logo{
    width: 25%;
    float: left;
}
.logo img{
    height: 57px;
}
.menu{
    width: 65%;
    float: right;
    text-align: right;
}
.menu ul{
    /* text-align: right; */
}
.menu ul li{
    float: left;
    line-height: 80px;
    /* margin-left: 7px; */
    width: 106px;
    text-align: center;
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color : #3FBEAB;
}
.menu ul li i{
    height: 30px;
    width: 30px;
border: 2px solid black;
border-radius: 100%;
line-height: 30px;
}