* {
    padding: o;
    margin: 0;
}

#row-1 {
    background-color: #1CD0AC;
    height: 30px;
    width: 100%;
}

.top-section {
    width: 90%;
    margin: 0 auto;
}

.left-links {
    width: 60%;
    float: left;
  height: 30px;
}

.left-links ul {}

.left-links ul li {
    float: left;
    margin-left: 10px;
    list-style: none;
    color: white;
    line-height: 30px;
}

.left-links ul li a {
    color: white;
    text-decoration: none;
}

.social-links {
    width: 30%;
    float: right;
    height: 100%;
    text-align: right;
}

.social-links i {
    color: black;
    line-height: 30px;
    border-right: 2px solid black;
    padding-right: 8px;
}
/* Row-1 CSS end */
/* Row-2 CSS start */
#row-2{
    height: 80px;
    width: 100%;
    background: white;
}
.header-section{
    width: 90%;
    margin: 0 auto;

}
.logo{
    width: 25%;
    float: left;
}
.logo img{
    height: 51px;
        margin-top: 5px;
    
}
.menu{
    width: 65%;
    float: right;
    text-align: right;
}
.menu ul{
    /* text-align: right; */
}
.menu ul li{
    float: left;
    line-height: 80px;
    /* margin-left: 7px; */
    width: 106px;
    text-align: center;
    list-style: none;
    color: #000;
}
.menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color : #3FBEAB;
}
.menu ul li i{
    height: 30px;
    width: 30px;
border: 2px solid black;
border-radius: 100%;
line-height: 30px;
}
/* Row-2 CSS end */
/* Row-3 CSS START */
#Row-3{
    height: 500px;
    width: 100%;
    background-image: url(../images/Bridge-Blog-Featured-Image.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: round ;
    position: relative;

}
.overlayrow3{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    position: absolute;}  

.banner-section{
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
    margin: 0 auto;
}
.banner-content{}
.banner-content h1{
    text-transform: uppercase;
    font-size: 50px;
    line-height: 70px;
    padding-top: 200px;
}
.banner-content p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
}
.banner-botton{
}
.banner-botton button{
    padding: 10px 20px;
    /* background: #999; ; */
background: none;
    border: 2px solid #fff;
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    margin-right: 10px;
}
.banner-botton button:hover{
    background-color: #2BBFA5;
    transition: 1s;
}
/* Row-3 CSS end */
/* Row-3 CSS START */
#Row-4{
    height: 80px;
    width: 100%;
    background: #2C3F50;
}
.form-section{
    width: 90%;
    margin: 0 auto;
}
.text-part{
    width: 20%;
    float: left;
    text-transform: uppercase;
padding-top: 10px;
}
.text-part h4{
    line-height: 32px;
}
.text-part h1{
    color: #fff;
}
.form-part{}
.form-part form{
    width: 80%;
    float: left;
    margin-top: 20px;
}
.input-item{
    float: left;
    /* padding-top: 10px; */
    width: 420px;
}
.input-item label{
    font-size: 18px;
    font-weight: 500;
    color: grey;
    padding-right: 15px;
}
.input-item input[ type = "text"]{
    padding: 8px;
    width: 220px;
    width: 320px;
}
.input-item input[ type = "date"]{
    padding: 8px;
    width: 220px;
    width: 320px;
}
.input-item i{
    color: grey;
    position: absolute;
    margin-left: -26px;
    line-height: 35px;
}
.form-part button{
    padding: 10px 15px;
    background: #1DD2AF;
    border: none;
}
/* Row-4 CSS end */
/* Row-5 CSS START */
#Row-5{
    height: 500px;
    width: 100%;
    background: white;
}
.offer-section{
    width: 90%;
    margin: 0 auto;
}
.offer-top{ 
    text-align: center;
    padding: 40px 0px;
}
.offer-top h2{}
.offer-top p{}
.offer-bottom{}
.all_offer_item{}
.offer_item{
    width: 194px;
    float: left;
    margin-left: 40px;
    border: 4px solid grey;
    border-radius: 5px;
    box-shadow: 2px 2px  2px;
    transition: 1s;
}
.offer_item:hover{
    transform:scale(1.2);
}
.offer_item img{
    width: 100%;
    height: 150px;
}
.offer_text{
    width: 80%;
    float: left;
}
.offer_text h3{}
.offer_text h4{}
.offer_icon{
    width: 10%;
    float: right;
}
.offer_icon i{}
/* Row-5 CSS end */